@import url('https://rsms.me/inter/inter.css');
*{
    font-family: 'Inter' !important;
}

body {
    background: url("/themepack/openvk_modern/0.0.1.0/resource/1.png") repeat-x fixed
}
.page_header {
    position: fixed;
    height: 42px;
    background: #3C3C3C;
    z-index: 1000
}
.home_button {
    background: url("/themepack/openvk_modern/0.0.1.0/resource/2.png") no-repeat;
    background-position-y: 0px;
    background-position-x: 1px
}
.home_button_custom {
    background: url("/themepack/openvk_modern/0.0.1.0/resource/5.png") no-repeat;
    background-position-y: 0px;
    background-position-x: 1px;
    text-shadow: none
}
.header_navigation .link {
    background: unset
}
.sidebar {
    margin-top: 47px;
    position: fixed
}
.page_body {
    margin-top: 42px
}
.toTop {
    margin-top: 42px
}
.content_title_expanded {
    cursor: pointer;
    background-image: unset;
    padding: 3px 10px;
    border-top: #e6e6e6 solid 1px
}
.content_title_unexpanded {
    background-image: unset;
    padding: 3px 10px;
    border-top: #eee solid 1px
}
.content_subtitle {
    border-top: #F0F0F0 solid 1px;
    border-bottom: 1px solid #F0F0F0
}
.user-alert {
    border: 1px solid #f3ddbd
}
.msg {
    border: 1pt solid #e6f2f3
}
.msg.msg_succ {
    border-color: #ddf3d7
}
.msg.msg_err {
    border-color: #f5e9ec
}
.navigation .link:hover {
    border-top: 1px solid #E4E4E4
}
#profile_link, .profile_link {
    border-bottom: 1px solid transparent
}
.completeness-gauge-gold {
    border: 1px solid #f6ebbb
}
.post-author {
    border-top: #fff solid 1px;
    border-bottom: #fff solid 1px;
    background-color: #fff;
    padding: 0px 5px 3px
}
.post-author .date {
    color: gray
}
.page_yellowheader {
    background: #fff;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px
}
.page-wrap {
    border-bottom: solid 1px #fff;
    border-left: solid 1px #fff;
    border-right: solid 1px #fff
}
#wrapHI {
    border-right: 0px;
    border-left: 0px
}
#wrapH {
    border-right: solid 1px #fff;
    border-left: solid 1px #fff
}
.menu_divider {
    background: #E5E5E5
}
.postFeedWrapper {
    border-bottom: 1px solid rgb(240, 240, 240)
}
.container_gray {
    border-top: #EBEBEB solid 1px
}
.container_gray .content {
    border: #fff solid 1px
}
.accent-box {
    border: 1px solid white
}
.page_footer .link:hover {
    border-top: 0px
}
.ovk-video > .preview {
    border: #fff
}
.crp-list {
    border-top: 1px solid #fff;
    width: 629px
}
.crp-entry:first-of-type {
    border-color: #E5E5E5
}
.crp-entry {
    width: 593px;
    border-color: #E5E5E5
}
#faqhead {
    border: 1px solid #FBF3C3
}
#faqcontent {
    border: 1px solid #FAFAFA
}
.psa-poster {
    border: 5px solid #F3F3F3
}
.written {
    background: url("/themepack/openvk_modern/0.0.1.0/resource/4.png") no-repeat 0px 1px
}
.button {
    border-radius: 25px;
    border: #595959;
    font-size: 11px;
    outline: none;
    white-space: nowrap;
    background: #595959;
    background-position: 0px -16px;
    color: #fff;
    padding: 6px 10px !important;
    text-shadow: 0 1px 0 #686868;
    cursor: pointer;
    text-decoration: none;
}
input[type="text"], input[type="password"], input[type~="text"], input[type~="password"], input[type="email"], input[type="phone"], input[type~="email"], input[type~="phone"], input[type="search"], input[type~="search"], select, textarea {
    border-radius: 25px;
    padding: 6px 10px !important;
}
.tab {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 3px;
    border-radius: 25px;
}
.tabs {
    border-bottom: 0px;
    padding: 5px 5px;
}
.page-wrap, .page_wrap {
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    padding: 1px 10px 10px 10px !important;
}
.content_list .cl_element .cl_name .cl_lname {
    display: none;
}
.content_title_expanded, .content_title_unexpanded {
    border-radius: 15px 15px 0 0;
}
.content_subtitle {
    border-radius: 0 0 15px 15px;
}
.navigation .link {
    border-radius: 25px;
}
.navigation .edit-button {
    display: none;
}
.wrap1 {
    border: 0;
}
.wrap2 {
    border-right: 0;
}
.postFeedWrapper {
    border-radius: 25px;
}
.link, .tab, .profile_link, #profile_link, a{
    transition: .5s;
}
.profile_link, #profile_link {
    padding: 7px 16px 8px;
    margin-bottom: 10px;
    text-align: center;
    background: #e6e6e6;
    border-radius: 25px;
    width: 100% !important;
}
.left_small_block>br{display: none;}
.profile-hints a {margin-bottom: 15px;}
.page_body, .ovk-diag-cont{
  opacity:0;
  transition: 1s; 
  animation: show 1s 1; 
  animation-fill-mode: forwards; 
  animation-delay: .8s; 
}
@keyframes show{
  0%{opacity:0;}
  100% {opacity:1;}
  }
.left_small_block {
    border-right: 0px;
}
.sidebar {
    width: 135px;
}
.container_gray {
    border-top: 0;
    background: #FFF;
    padding: 12px;
}
input[type="search"]{
    padding-left: 18px !important;
}
.mb_tabs {
    background-color: #F6F6F6;
    border-bottom: 0px;
    padding: 5px;
    border-radius: 25px;
}
.mb_tab {
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
    display: inline-block;
    border-radius: 25px;
}
.mb_tab div {
    padding: 5px 10px;
    border-radius: 25px;
}
.mb_tab#active div {
    border: 0px;
}
.container_gray .content {
    border-radius: 25px;
    background: #ededed;
    padding: 4px;
    border: #FFF;
    clear: both;
    margin-bottom: 12px;
    overflow: hidden;
    word-break: break-word;
}
body > div.layout > div.page_body > div.wrap2 > div > div > div.container_gray > div > table > tbody > tr > td[valign="top"]{
    vertical-align: middle;
}
.small-textarea {
    height: 30px;
}
input[type=checkbox], input[type=radio] {
    -webkit-appearance: auto;
    -moz-appearance: none;
    -ms-appearance: none;
    height: auto;
    width: auto;
}
.action_links>.profile_link, .action_links>.profile_link_form>.profile_link {
    width: 150px !important;
}
